@model IEnumerable<WebsiteFPT.Models.Order>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_layout.cshtml";
}

@section header {

}


<table class="table">
    <tr>
        <th>
           Mã KH
        </th>
        
      
        <th>
            Tên KH
        </th>
       
        <th>
            @Html.DisplayNameFor(model => model.Total_Price)
        </th>
      
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Created_At)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    @Html.DisplayFor(modelItem => item.Guests.FirstName)
    <td>
        @Html.DisplayFor(modelItem => item.Guests.FirstName)
    </td>


    <td>
        @Html.DisplayFor(modelItem => item.Note)
    </td>

    <td>
        @Html.DisplayFor(modelItem => item.Total_Price)
    </td>

    <td>
        @Html.DisplayFor(modelItem => item.Status)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Created_At)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.ID_Order }) |
        @Html.ActionLink("Details", "Details", new { id = item.ID_Order }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.ID_Order })
    </td>
</tr>
    }

</table>
