@model IPagedList<WebsiteFPT.Models.User>
@using PagedList.Mvc;
@using PagedList;

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_layout.cshtml";
}

@section header {

}


@using (Html.BeginForm("Index", "Login", FormMethod.Get))
{
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Danh sách Admin</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Home</a></li>
                        <li class="breadcrumb-item active">User</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">LIST</h3>

                    <div class="card-tools">
                        <div class="input-group input-group-sm" style="width: 150px;">
                            <input type="text" name="Search" id="Login" class="form-control float-right" placeholder="FirstName">

                            <div class="input-group-append">
                                <button type="submit" class="btn btn-default">
                                    <i class="fas fa-search"></i>
                                </button>

                            </div>
                        </div>
                    </div>
                </div>

                <!-- /.card-header -->
                <div class="card-body table-responsive p-0">
                    <table class="table table-hover text-nowrap">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>FirstName</th>
                                <th>LastName</th>
                                <th>Address</th>
                                <th>Email</th>
                                <th>Phone</th>
                            </tr>
                        </thead>
                        @foreach (var item in Model)
                        {
                            <tbody>
                                <tr>
                                    <td>@Html.DisplayFor(modelItem => item.ID_Users)</td>
                                    <td>@Html.DisplayFor(modelItem => item.FirstName)</td>
                                    <td> @Html.DisplayFor(modelItem => item.LastName)</td>
                                    <td> @Html.DisplayFor(modelItem => item.Address)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Email)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Phone)</td>
                                    <td class="project-actions text-right">
                                        <a class="btn btn-info btn-sm" href=" @Url.Action( "Register","Login")">
                                            <i class="fas fa-pencil-alt">
                                            </i>
                                            Tạo mới
                                        </a>

                                        <a class="btn btn-danger btn-sm" href=" @Url.Action( "Delete", new { id = item.ID_Users })">
                                            <i class="fas fa-trash">
                                            </i>
                                            Delete
                                        </a>

                                    </td>
                                </tr>

                            </tbody>
                        }
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
    </div>


    <div class="card-footer clearfix">
        <ul class="pagination pagination-sm m-0 float-right">
            <li class="page-item">
                @Html.PagedListPager(Model, page => Url.Action("Index", "Users", new { page, search = Request.QueryString["search"] }))

            </li>
        </ul>
        
    </div>
   
   
        

           
        
    
}