@model WebsiteFPT.Models.User

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AdminLTE 3 | Registration Page</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/Assets/Admin1/plugins/fontawesome-free/css/all.min.css">
    <!-- icheck bootstrap -->
    <link rel="stylesheet" href="~/Assets/Admin1/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/Assets/Admin1/dist/css/adminlte.min.css">
</head>
<body class="hold-transition register-page">
    <div class="register-box">
        <div class="register-logo">
            <a href="../../index2.html"><b>Admin</b>LTE</a>
        </div>

        <div class="card">
            <div class="card-body register-card-body">
                <p class="login-box-msg">Register a new membership</p>

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="input-group mb-3">
                        @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control", @id = "exampleFirstName", @placeholder = "First Name", @autofocus = "autofocus" })
                        @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })

                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-user"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        @Html.TextBoxFor(model => model.LastName, new { @class = "form-control", @id = "exampleLastName", @placeholder = "Last Name", @autofocus = "autofocus" })
                        @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })

                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        @Html.TextBoxFor(model => model.Address, new { @class = "form-control", @id = "exampleInputEmail", @placeholder = "Address", @autofocus = "autofocus" })
                        @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })

                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        @Html.TextBoxFor(model => model.Phone, new { @class = "form-control", @id = "exampleInputEmail", @placeholder = "Phone", @autofocus = "autofocus" })
                        @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })

                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @id = "exampleInputEmail", @placeholder = "Email Address", @autofocus = "autofocus" })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })

                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        @Html.PasswordFor(model => model.PassWord, new { @class = "form-control", @id = "exampleInputPassword", @placeholder = "Password" })
                        @Html.ValidationMessageFor(model => model.PassWord, "", new { @class = "text-danger" })
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        @Html.PasswordFor(model => model.ComfirmPassWord, new { @class = "form-control", @id = "exampleRepeatPassword", @placeholder = "Repeat Password" })
                        @Html.ValidationMessageFor(model => model.ComfirmPassWord, "", new { @class = "text-danger" })
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        
                        <!-- /.col -->
                        <div class="col-4">
                            <button type="submit" class="btn btn-primary btn-block">Register</button>
                        </div>
                        <!-- /.col -->
                    </div>
                }

                <div class="social-auth-links text-center">
                    <p>- OR -</p>
                    <a href="#" class="btn btn-block btn-primary">
                        <i class="fab fa-facebook mr-2"></i>
                        Sign up using Facebook
                    </a>
                    <a href="#" class="btn btn-block btn-danger">
                        <i class="fab fa-google-plus mr-2"></i>
                        Sign up using Google+
                    </a>
                </div>

                <a href="@Url.Action("login","Login")" class="text-center">I already have a membership</a>
            </div>
            <!-- /.form-box -->
        </div><!-- /.card -->
    </div>
    <!-- /.register-box -->
    <!-- jQuery -->
    <script src="~/Assets/Admin1/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/Assets/Admin1/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/Assets/Admin1/dist/js/adminlte.min.js"></script>
</body>
</html>
