@model WebsiteFPT.Models.Cart
@{
    ViewBag.Title = "ShowCheckout";
    Layout = "~/Views/Shared1/_LayoutProduct.cshtml";
}
@if (Session["client"] != null)
{
    <div class="account-in">
        <div class="container">
            @*<form method="post">*@
            @using (Html.BeginForm("checkOut", "Cart", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <div class="register-top-grid">
                    <h2>PERSONAL INFORMATION</h2>
                    <div>
                        <span>First Name<label>*</label></span>
                        <input type="text" value=@Session["firstName"]>
                    </div>
                    <div>
                        <span>Last Name<label>*</label></span>
                        <input type="text" value=@Session["lastName"]>
                    </div>
                    <div>
                        <span>User Name<label>*</label></span>
                        <input type="text" value=@Session["Username"]>
                    </div>
                    <div>
                        <span>Email Address<label>*</label></span>
                        <input type="text" value=@Session["client"]>
                        <input type="hidden" value=@Session["idKhach"] name="ma_kh">
                    </div>
                    <div>
                        <span>Phone<label>*</label></span>
                        <input type="text" value=@Session["Phone"]>
                    </div>
                    <div>
                        <span>Địa chỉ giao hàng và số điện thoại<span>*</span></span>
                        <input type="text" placeholder="Nhập địa chỉ và số điện thoại liên lạc" name="Note">
                    </div>
                    <div class="clearfix"> </div>
                    <a class="news-letter" href="#">

                    </a>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="checkout__input">
                            <label>Chuyển khoản</label>
                            <input type="radio" name="payment_method" value="0">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="checkout__input">
                            <label>Tiền mặt</label>
                            <input type="radio" name="Status" checked value="1">
                        </div>
                    </div>
                </div>

                <div class="col-ma-3 cart-total">
                    <a class="continue" href="@Url.Action("ShowProduct", "Product")">Continue to basket</a>
                    <div class="price-details">
                        <div class="card-body table-responsive p-0">
                            <table class="table table-hover text-nowrap">
                                <thead>
                                    <tr>
                                        <th>Tên sản phẩm</th>
                                        <th>Số lượng</th>
                                        <th>Gía</th>
                                    </tr>
                                </thead>
                                @foreach (var item in Model.Items)
                                {
                                    double total = Convert.ToDouble(item._shopping_quantity * item._shopping_product.Prices.PromotionPrice);
                                    <tbody>
                                        <tr>
                                            <td>@item._shopping_product.Name</td>
                                            <td>@item._shopping_quantity</td>
                                            <td> @total VNĐ</td>

                                        </tr>

                                    </tbody>
                                }
                            </table>
                        </div>
                    </div>
                    <div class="card-body table-responsive p-0">
                        <table class="table table-hover text-nowrap">
                            <thead>

                            </thead>
                            <tbody>
                                <tr>
                                    <th>Tổng tiền</th>
                                    <td style="text-align:center">@Html.Action("bagCart", "Cart")</td>
                                    <td style="text-align:center; color:red;">@Model.total_money() VNĐ</td>

                                </tr>

                            </tbody>
                        </table>
                    </div>



                    <div class="clearfix"></div>
                    <button type="submit" class="button item_add cbp-vm-icon cbp-vm-add">Place Order</button>

                </div>

            }
            @*</form>*@
        </div>
    </div>

    <div class="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d3150859.767904157!2d-96.62081048651531!3d39.536794757966845!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1408111832978"> </iframe>
    </div>
}
else
{
    <div class="container">
        <div class="page-not-found">
            <h3>YOU NEED TO LOGIN TO ORDER </h3> 
            <h1>404</h1>
            <a class="b-home" href="@Url.Action("Login","Guest")">Log In to use accounts </a>
        </div>
    </div>

}
