@model IEnumerable<WebsiteFPT.Models.Brand>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_layout.cshtml";
}

@section header {

}

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th> @Html.DisplayNameFor(model => model.Image)</th>
            <th>
                @Html.DisplayNameFor(model => model.Created_At)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
            
                <td>@Html.DisplayFor(modelItem => item.Image)</td>
              
                <td>
                    @Html.DisplayFor(modelItem => item.Created_At)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID_Brand }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ID_Brand }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID_Brand })
                </td>
            </tr>
            }

        </table>
