@model WebsiteFPT.Models.Product

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_layout.cshtml";
    var newCategory = ViewBag.Categorys;
    var values = ViewBag.values;
    var thuoctinhs = ViewBag.thuoctinhs;
    var sps = ViewBag.SP;

}

@section header {

}
@Html.Partial("_Notifications")
@using (Html.BeginForm("Create", "Products", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Product</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Code, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Code, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Quantity, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Quantity, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Quantity, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            @Html.Label("Image", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="file" id="Image" name="hinh_anh" />
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Secondary image ", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="file" id="Image1" name="hinh_anh" />
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Secondary image", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="file" id="Image2" name="hinh_anh" />
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Secondary image", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="file" id="Image3" name="hinh_anh" />
            </div>
        </div>



        <div class="form-group">
            @Html.LabelFor(model => model.ID_Price, "ID_Price", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select name="ID_Price">
                    @foreach (var sp in sps)
                    {
                        <option value="@sp.ID_Price">@sp.Prices - @sp.PromotionPrice</option>

                    }
                </select>
            </div>
        </div>


        <div class="form-check">
            @foreach (var thuoctinh in thuoctinhs)
            {
                <br />
                <h5>@thuoctinh.name</h5>


                foreach (var value in values)
                {
                    if (value.ID_altribute == thuoctinh.ID_altribute)
                    {

                        <input class="form-check-input" type="checkbox" name="values[]" value="@value.ID_Values">
                        <label class="form-check-label">@value.Value</label>
                        <br />
                    }

                }
            }

        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ID_Brand, "ID_Brand", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("ID_Brand", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.ID_Brand, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.ID_Category, "Category", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("ID_Category", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.ID_Category, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextAreaFor(model => model.Description, new { @class = "ckeditor" })
            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group">
        @Html.LabelFor(model => model.Detail, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextAreaFor(model => model.Detail, new { @class = "ckeditor" })
            @Html.ValidationMessageFor(model => model.Detail, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Guarantee, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextAreaFor(model => model.Guarantee, new { @class = "ckeditor" })
            @Html.ValidationMessageFor(model => model.Guarantee, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        Sản phẩm đang Hot:
        <div class="col-md-10">
            <div class="checkbox">
                @Html.EditorFor(model => model.Hot)
                @Html.ValidationMessageFor(model => model.Hot, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="form-group">
        <p>Giới sính:</p>
        <div class="col-md-10">
            <div class="checkbox">
                @Html.EditorFor(model => model.Gioitinh)
                @Html.ValidationMessageFor(model => model.Gioitinh, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="checkbox">
                @Html.EditorFor(model => model.Status)
                @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>

}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
